header{
    background: linear-gradient(#004aad, #5de0e6);
    color: rgb(255, 255, 255);
}


.logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}


.cabecalho{
    background-color: #696969;
    color: rgb(255, 255, 255);
}


.cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;


}
