.header-blue {
    background-color: #007bff; /* Azul primário */
    color: #fff; /* Texto branco */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento centralizado do texto */
}

.img1{
    width: 40px;
}